@import '../../../styles/utils/base';

.formInput{
    width: 100%;
    padding: 1.8rem 3.2rem;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    background-color: $color-light;
    border: 1px solid $color-grey;

    display: flex;

    &::placeholder{
        text-transform: uppercase;
        letter-spacing: .3rem;
        color: $color-light-grey;
    }
    &:focus{
        outline: none;
        border: 1px solid $color-dark;
    }
}
