@import '../../../../styles/utils/base';

.faqContainer{
    position: relative;
    padding: 5rem 15rem;

    @include response(L-desktop){
        padding: 5rem 10rem;
    }

    @include response(phone){
        padding: 5rem;
    }

    .heading{
        font-size: 3rem;
        font-weight: 400;
        letter-spacing: .3rem;
        color: $color-secondary;
        text-align: center;
    }
    .faqList{
        margin: 4rem 0;
        border-top: 1px solid $color-dark;
    }
}
