$color-primary: #152F01;
$color-secondary: #E59E20;

$color-dark: #333333;
$color-light: #FFFFFF;
$color-grey: #707070;

$color-light-pink: #FFF6F5;
$color-light-green: #F1FFF7;
$color-light-yellow: #FFF8E9;
$color-light-grey: #DFDFDF;

$color-background: #101213;
$color-background-one: #292626;
$color-background-two: #373126;
$color-background-three: #14281D;

$color-error: rgb(151, 61, 61);
$color-success: rgb(61, 151, 109);