@import "./utils/base";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px

  @include response(desktop) {
    font-size: 50%;
  }
  @include response(tab-port) {
    font-size: 42%;
  }
  @include response(s-phone) {
    font-size: 35%;
  }
  @include response(xs-phone) {
    font-size: 28%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  overflow-x: hidden;
}
